<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
  <title>Challenge Modify</title>
</head>

<div layout:fragment="content">
  <div class="row mt-3 col-md-8 mx-auto">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Challenge 수정하기
        </div>
        <div class="card-body">

          <form th:action="@{/templates/admin/modify}" method="post" id="f1">
            <input type="hidden" name="_method" value="put">
            <div class="input-group mb-3">
              <span class="input-group-text">Id</span>
              <input type="text" class="form-control" name="id" th:value="${dto.id}" readonly>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">제목</span>
              <input type="text" class="form-control" name="title" th:value="${dto.title}">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">챌린지 등록일자</span>
              <input type="date" class="form-control" th:value="${#temporals.format(dto.registerDate, 'yyyy-MM-dd')}" readonly>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">챌린지 시작일자</span>
              <input type="date" class="form-control" name="startDate" th:value="${#temporals.format(dto.startDate, 'yyyy-MM-dd')}" >
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">챌린지 종료일자</span>
              <input type="date" class="form-control" name="endDate" th:value="${#temporals.format(dto.endDate, 'yyyy-MM-dd')}" >
            </div>


            <div class="input-group mb-3">
              <span class="input-group-text">Content</span>
              <textarea class="form-control col-sm-5" rows="5" name="content">[[${dto.content}]]</textarea>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Writer</span>
              <input type="text" class="form-control" th:value="${dto.writer}" name="writer" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">Images</span>
              <div class="float-end uploadHidden">
                <button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
              </div>
            </div>



            <div class="my-4">
              <div class="float-end">
                <button type="button" class="btn btn-primary listBtn">목록으로</button>
<!--                <button type="button" class="btn btn-secondary modBtn" data-bs-toggle="modal" data-bs-target="#confirmModal">수정하기</button>-->
<!--                <button type="button" class="btn btn-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제하기</button>-->
                <button type="button" class="btn btn-secondary modBtn" data-bs-toggle="modal" data-bs-target="#confirmModifyModal">수정하기</button>
                <button type="button" class="btn btn-danger deleteBtn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">삭제하기</button>
              </div>
            </div>

            <!-- 수정하기 버튼 모달 -->
            <div class="modal fade" id="confirmModifyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Challenge 수정 확인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>수정하시겠습니까?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="confirmModifyBtn">수정</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- 삭제하기 버튼 모달 -->
            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Challenge 삭제 확인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>삭제하시겠습니까?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="confirmDeleteBtn">삭제</button>
                  </div>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div><!--end card-->
    </div><!-- end col-->
  </div><!-- end row-->

  <!—- 첨부 파일 섬네일을 보여줄 부분 -->
  <div class="row mt-3">
    <div class="col">
      <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap; justify-content: center;">
        <th:block th:each="fileName:${dto.fileNames}">
          <div class="card col-4 mb-3" th:with = "arr = ${fileName.split('_')}">
            <div class="card-header d-flex justify-content-center">
              [[${arr[1]}]]
              <button class="btn-sm btn-danger"
                      th:onclick="removeFile([[${arr[0]}]], [[${arr[1]}]], this)">X</button>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center" style="height: 150px;">
              <img class="img-fluid" th:src="|/view/${fileName}|" th:data-src="${fileName}" style="max-height: 100%; max-width: 100%;">
            </div>
          </div><!-- card -->
        </th:block>
      </div>
    </div>
  </div>

  <!—- 첨부파일 추가를 위한 모달창 -->
  <div class="modal uploadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upload File</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <input type="file" name="files" class="form-control" multiple >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary uploadBtn">Upload</button>
          <button type="button" class="btn btn-outline-dark closeUploadBtn" >Close</button>
        </div>
      </div>
    </div>
  </div><!-- register modal -->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="/js/upload.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">

  const errors = [[${errors}]]
  console.log(errors)

  let errorMsg = ''

  if(errors){
    for (let i = 0; i < errors.length; i++) {
      errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
    }
    history.replaceState({}, null, null)
    alert(errorMsg)
  }

  const link = [[${pageRequestDTO.getLink()}]]
  const formObj = document.querySelector("#f1")

  const modal = new bootstrap.Modal(document.querySelector("#confirmModifyModal"));
  const modaldelete = new bootstrap.Modal(document.querySelector("#confirmDeleteModal"));

  document.querySelector(".modBtn").addEventListener("click", function(e) {
    e.preventDefault();
    e.stopPropagation();

    // 수정하기 버튼을 누를 때 해당 모달을 띄웁니다.
    $("#confirmModifyModal").modal("show");
  }, false);

  // 수정하기 버튼 모달에서 확인 버튼을 누를 때의 동작을 정의합니다.
  document.querySelector("#confirmModifyBtn").addEventListener("click", function(e) {
    // 수정 로직 수행
    formObj.action = `/admin/modify?${link}`;
    appendFileData();
    callRemoveFiles();
    formObj.method = 'post';
    formObj.submit();

    // 임시로 alert을 사용하여 확인
    alert("수정이 완료되었습니다.");

    // 모달 닫기
    modal.hide();
  }, false);


  function appendFileData(){

    const target = document.querySelector(".uploadHidden")
    const uploadFiles = uploadResult.querySelectorAll("img")

    let str = ''

    for (let i = 0; i < uploadFiles.length ; i++) {
      const uploadFile = uploadFiles[i]
      const imgLink = uploadFile.getAttribute("data-src")

      str += `<input type='hidden' name='fileNames' value="${imgLink}">`
    }

    target.innerHTML = str;

  }

  function appendNotShownData(){

    if(removeFileList.length == 0){
      return
    }

    const target = document.querySelector(".uploadHidden")
    let str = ''

    for (let i = 0; i < removeFileList.length ; i++) {

      const {uuid, fileName} = removeFileList[i];

      str += `<input type='hidden' name='fileNames' value="${uuid}_${fileName}">`
    }
    target.innerHTML += str;
  }

  function callRemoveFiles(){

    removeFileList.forEach( ({uuid,fileName}) => {
      removeFileToServer({uuid, fileName})
    })
  }

  document.querySelector(".deleteBtn").addEventListener("click", function(e) {
    e.preventDefault();
    e.stopPropagation();

    // 삭제하기 버튼을 누를 때 해당 모달을 띄웁니다.
    $("#confirmDeleteModal").modal("show");
  }, false);

  // 삭제하기 버튼 모달에서 확인 버튼을 누를 때의 동작을 정의합니다.
  document.querySelector("#confirmDeleteBtn").addEventListener("click", function(e) {
    // 삭제 로직 수행
    appendFileData();
    appendNotShownData();
    formObj.action = `/admin/delete`;
    formObj.method = 'post';
    formObj.submit();


    // 모달 닫기
    modaldelete.hide();
  }, false);


  document.querySelector(".listBtn").addEventListener("click", function(e){
    e.preventDefault()
    e.stopPropagation()

    formObj.reset()
    self.location =`/admin/list?${link}`

  }, false)


  //최종적으로 삭제될 파일들의 목록
  const removeFileList = []
  function removeFile(uuid,fileName, obj){

    if(!confirm("파일을 삭제하시겠습니까?")){
      return
    }

    console.log(uuid)
    console.log(fileName)

    console.log(obj)

    removeFileList.push({uuid,fileName})

    const targetDiv = obj.closest(".card")
    targetDiv.remove()
  }

  //업로드 모달
  const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

  document.querySelector(".uploadFileBtn").addEventListener("click", function(e){

    e.stopPropagation()
    e.preventDefault()
    uploadModal.show()

  }, false)

  document.querySelector(".uploadBtn").addEventListener("click", function(e){

    const formObj = new FormData();

    const fileInput = document.querySelector("input[name='files']")

    console.log(fileInput.files)

    const files = fileInput.files

    for (let i = 0; i < files.length; i++) {
      formObj.append("files", files[i]);
    }


    uploadToServer(formObj).then(result => {
      console.log(result)
      //console.log(result)
      for (const uploadResult of result) {
        showUploadFile(uploadResult)
      }
      uploadModal.hide()
    }).catch(e => {
      uploadModal.hide()
    })

  },false)

  const uploadResult = document.querySelector(".uploadResult")

  function showUploadFile({uuid, fileName, link}){

    const str =`<div class="card col-4">
            <div class="card-header d-flex justify-content-center">
                ${fileName}
                <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)" >X</button>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center" style="height: 150px;">
                 <img class="img-fluid" src="/view/${link}" data-src="${uuid+"_"+fileName}" style="max-height: 100%; max-width: 100%;">>
            </div>
        </div><!-- card -->`

    uploadResult.innerHTML += str
  }




</script>

</html>