<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Challenge register</title>
</head>
<body>

<div layout:fragment="content">

        <div class="row mt-3 col-md-8 mx-auto">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Challenge 등록
                    </div>
                    <div class="card-body">
                        <form action="/admin/register" method="post">
                            <div class="input-group mb-3">
                                <span class="input-group-text">제목</span>
                                <input type="text" name="title" class="form-control" placeholder="Title" required>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">챌린지 등록일자</span>
                                <input type="date" name="registerDate" class="form-control" >
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">챌린지 시작일자</span>
                                <input type="date" name="startDate" class="form-control" >
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">챌린지 종료일자</span>
                                <input type="date" name="endDate" class="form-control" >
                            </div>


                            <div class="input-group mb-3">
                                <span class="input-group-text">챌린지 내용</span>
                                <textarea class="form-control col-sm-5" rows="5" name="content" required></textarea>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">작성자</span>
                                <input type="text" name="writer" class="form-control" placeholder="Writer">


                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text">Images</span>
                                <div class="float-end uploadHidden">
                                    <button type="button" class="btn btn-primary uploadFileBtn">ADD Files</button>
                                </div>
                            </div>

                            <div class="my-4">
                                <div class="float-end">
                                    <button type="submit" class="btn btn-primary submitBtn">등록</button>
                                    <button type="reset" class="btn btn-secondary">초기화</button>
                                </div>
                            </div>


                        </form>
                    </div><!--end card body-->

                </div><!--end card-->
            </div><!-- end col-->
        </div><!-- end row-->


</div>

</body>

<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }


</script>

</html>