<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userbasic.html}">

<head>
    <style>

        .reply-container{
            margin: 0;
            padding: 0rem 2rem;
        }

        .btn-primary {
            background-color:#2752E7;
            color:#fff;
            font-size:1rem;"
        }

        label {
            font-weight: 400;
        }

        h6 {
            font-weight: 700;
        }

    </style>
</head>

<div layout:fragment="content">
<div class="container mb-5">
    <section class="mt-3">
        <div class="container px-4 px-lg-5 my-5">
            <!-- Thymeleaf iteration to display product details -->
            <div class="row gx-4 gx-lg-5 align-items-center" th:each="dto : ${challengeDTO}">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x600/dee2e6/6c757d.jpg" alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1" th:text="${'challenge id : ' + dto.id}"></div>
                    <h1 class="display-5 fw-bolder mb-5" th:text="${dto.title}"></h1>

                    <div class="fs-5 mb-5">
                        <div class="small mb-1">
                            <h6>챌린지를 소개합니다</h6>
                        </div>
                        <span class="fw-bolder" th:text="${(dto.content)}"></span>
                    </div>


                    <!-- Product price -->
                    <div class="fs-5 mb-5">
                    <div class="small mb-1">
                        <h6>참여기간</h6>
                    </div>
                    <span class="fw-bolder" th:text="${#temporals.format(dto.startDate, 'yyyy-MM-dd')
                                 + ' ~ ' + #temporals.format(dto.endDate, 'yyyy-MM-dd')}"></span>
                    </div>


                    <div class="fs-5 mb-5">
                    <div class="small mb-1">
                        <h6>주의사항</h6>
                    </div>

                    <span class="fw-bolder">사진과 함께 인증해주세요</span>
                    </div>

                    <div class="d-flex align-content-end">

                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            참가하기
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <div class="d-flex justify-content-center">
        <button class="btn btn-primary" id="show-comment-section">챌린지 인증하기</button>
    </div>

    <!--댓글 등록 영역-->
    <section class="mt-2" id="comment-section" style="display: none; background-color:#FAFBFE">
        <div class="reply-container my-5">
            <!-- 댓글 등록 폼 -->
            <form id="post-reply">
                <div class="row">

                    <div class="col-6 mb-2">
                        <label>작성자</label>
                        <input id="replyer" type="text" class="form-control" readonly>
                    </div>

                    <div  class="col-6 mb-2">
                        <label>작성일</label>
                        <input id="registerDate" type="text" class="form-control" readonly>
                    </div>

                    <div class="col-12 mb-2">
                        <label for="comment" class="form-label">
                            오늘의 챌린지는 어떠셨나요?
                        </label>
                        <textarea class="form-control" id="comment" rows="3" name="comment" required></textarea>
                    </div>

                    <div class="col-12 mb-3">
                        <label for="formFileMultiple" class="form-label">사진 첨부</label>
                        <input class="form-control" type="file" id="formFileMultiple" name="images" multiple>
                    </div>

                    <div class="col-12">
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg">인증하기</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </section>


    <script>
        // 챌린지 인증하기 버튼 클릭 시 댓글 등록 영역 표시
        document.getElementById('show-comment-section').addEventListener('click', function () {
            document.getElementById('comment-section').style.display = 'block';
        });
    </script>


    <div id="#repliesContainer"></div>

</div>
</div>


<script layout:fragment="script" th:inline="javascript">

    $(document).ready(function() {
        var challengeId = dto.id;
    });


    $(document).ready(function () {
        // 작성자, 등록일
        $("#show-comment-section").click(function () {
            const replyer = replyer;
            const registerDate = registerDate;

            $("#replyer").val(replyer);
            $("#registerDate").val(registerDate);
        })
    });


    $(document).ready(function() {

        $.get("/api/user/detail?id=" + dto.id + "/reply/list", function(data) {
            var repliesHtml = "";
            data.forEach(function(reply) {
                repliesHtml += "<div>";
                repliesHtml += "<span>" + reply.replyer + "</span>";
                repliesHtml += "<span>" + reply.registerDate + "</span>";
                repliesHtml += "<p>" + reply.replyText + "</p>";
                repliesHtml += "</div>";
            });
            $("#repliesContainer").html(repliesHtml);
        });
    });

</script>

</html>