<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/userbasic.html}">



<div layout:fragment="content">
    <!-- Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">신규 챌린지</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- 여기에 데이터베이스에서 가져온 내용을 반복적으로 채워넣을 것입니다. -->
                <div class="col mb-5" th:each="populardto : ${popularChallengesDTO.challengeList}">
                    <div class="card h-100">
                        <!-- Product image -->
                        <div class="card-img-container" style="height: 0; padding-bottom: 75%; overflow: hidden; position: relative;">
                            <div th:each="fileName: ${populardto.fileNames}">
                                <img class="card-img-top" th:src="|/view/${fileName}| " alt="..." style="position: absolute; width: 100%; height: 100%; object-fit: cover;" />
                            </div>
                        </div>
                        <!-- Product details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name -->
                                <h5 class="fw-bolder" th:text="${populardto.title}"></h5>
                                <!-- Product price -->
                                <span th:text="${#temporals.format(populardto.startDate, 'yyyy-MM-dd')
                                 + ' ~ ' + #temporals.format(populardto.endDate, 'yyyy-MM-dd')}"></span>
                            </div>
                        </div>
                        <!-- Product actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#" th:href="@{'/user/detail=' + ${populardto.id}}">View options</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">진행중인 챌린지</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!-- 여기에 데이터베이스에서 가져온 내용을 반복적으로 채워넣을 것입니다. -->
                <div class="col mb-5" th:each="dto : ${challengeDTO.challengeList}">
                    <div class="card h-100 d-flex flex-column">
                        <!-- Product image -->
                        <div class="card-img-container" style="height: 0; padding-bottom: 75%; overflow: hidden; position: relative;">
                            <div th:each="fileName: ${dto.fileNames}">
                                <img class="card-img-top" th:src="|/view/${fileName}| " alt="..." style="position: absolute; width: 100%; height: 100%; object-fit: cover;" />
                            </div>
                        </div>
                        <!-- Product details -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name -->
                                <h5 class="fw-bolder" th:text="${dto.title}"></h5>
                                <!-- Product price -->
                                <span th:text="${#temporals.format(dto.startDate, 'yyyy-MM-dd')
                                 + ' ~ ' + #temporals.format(dto.endDate, 'yyyy-MM-dd')}"></span>
                            </div>
                        </div>
                        <!-- Product actions -->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#" th:href="@{'/user/detail=' + ${dto.id}}">View options</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>


<script layout:fragment="script" th:inline="javascript">

</script>
</html>