<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/userbasic.html}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>MY PAGE - Profile</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div layout:fragment="content" class="container">

        <form class="profileList">

            <div class="form-group">
                <label for="email">Email : </label>
                <input type="text" class="form-control emailText" id="email" readonly>
            </div>
            <div class="form-group">
                <label for="pw">PassWord : </label>
                <input type="password" class="form-control pwText" id="pw" placeholder="Enter password">
            </div>
            <div class="form-group">
                <label for="nickname">Nickname : </label>
                <input type="text" class="form-control nicknameText" id="nickname" placeholder="Enter nickname">
            </div>

            <!-- 수정 버튼 -->
            <button id="btn-update" type="button" class="btn btnUpdate btn-primary" data-bs-toggle="modal">
                수정
            </button>

            <!-- 수정 확인 모달창 -->
            <div class="modal fade" id="updateConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">회원 정보 수정</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            회원 정보를 수정하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                            <button type="button" class="btn btn-primary" id="confirmUpdate">수정</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>

<script layout:fragment="javascript">

        $(document).ready(function () {
            $.get("/user/api/mypage/profile", function (data) {
                $('#email').val(data.email);
                $('#pw').val(data.pw);
                $('#nickname').val(data.nickname);
                console.log("데이터 가져오기 성공");
            });
        });

        $(document).ready(function () {

            const emailText = $(".emailText")
            const pwText = $(".pwText")
            const nicknameText = $(".nicknameText")
            const btnUpdate = $(".btnUpdate")

            btnUpdate.on("click", function (e) {
                e.preventDefault();
                $('#updateConfirmationModal').modal('show');
            });

            $('#confirmUpdate').on("click", function () {

                const profileObj = {
                    email: emailText.val(),
                    pw: pwText.val(),
                    nickname: nicknameText.val()
                };

                $.ajax({
                    type: "PUT",
                    url: "/user/api/mypage/profile",
                    data: JSON.stringify(profileObj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        console.log("성공:", response);
                        alert("이메일 " + response.email + " 님의 회원 정보가 수정되었습니다.");
                        window.history.back();
                    },
                    error: function (error) {
                        alert("회원 정보 수정에 실패했습니다.");
                        console.error(error);
                    }
                });
            });
        });

</script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
</body>
</html>