<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>MY PAGE - Profile</title>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div class="container">

    <form>

        <div class="form-group">
            <label for="email">Email : </label>
            <input type="text" class="form-control" id="email" readonly>
        </div>
        <div class="form-group">
            <label for="pw">PassWord : </label>
            <input type="password" class="form-control" id="pw" placeholder="Enter password" readonly>
        </div>
        <div class="form-group">
            <label for="nickname">Nickname : </label>
            <input type="text" class="form-control" id="nickname" placeholder="Enter nickname" readonly>
        </div>
        <button id="btn-update" class="btn btn-primary">수정</button>

    </form>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.get("/user/api/mypage/profile", function(data) {
            $('#email').val(data.email);
        });
    });

    $(document).ready(function () {
        $.get("/user/api/mypage/profile", function(data) {
            $('#pw').val(data.pw);
        });
    });

    $(document).ready(function () {
        $.get("/user/api/mypage/profile", function(data) {
            $('#nickname').val(data.nickname);
        });
    });




</script>
</body>
</html>